@media (max-width: 960px) {
  #top-wrapper {
    height: 50vh;
  }

  .top-title {
    padding-top: 100px;
    font-size: 25px;
  }

  header {
    padding: 0 2%;
  }

  .flex {
    padding-top: 20px;
  }

  .header-logo img {
    width: 100px;
  }

  .nav-lists {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-top: 10px;
  }

  .heading {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .news-list {
    padding: 0 4%;
  }

  .news-list li {
    font-size: 20px;
    max-width: 100%;
  }

  .date {
    font-size: 12px;
  }

  .notice-text {
    display: block;
    font-size: 18px;
    padding-top: 20px;
  }

  .container {
    flex-direction: column;
  }

  .contents {
    max-width: 100%;
    padding: 0 5%;
  }

  .contents img {
    max-width: 100%;
    padding-top: 40px;
  }

  .performance-text {
    margin: 0 auto;
  }

  .performance-text img {
    padding-top: 0;
  }

  .performance-link {
    margin-bottom: 0;
  }

  .links {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column-reverse;
  }

  .footer-container a {
    display: block;
    margin: 0 auto;
  }

  .footer-container img {
    padding-top: 15px;
  }

  .footer-lists {
    flex-direction: column;
  }

  .copyright {
    padding-top: 10px;
  }

  .footer-lists li {
    padding-bottom: 35px;
    margin: 0 auto;
  }
}
