/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light",
    YuMincho, "Yu Mincho", 游明朝体, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*------------------------------ここから------------------------------*/

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.3;
}
/*----------------------------ヘッダー関係----------------------------*/
#top-wrapper {
  background-image: url(img/main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 40px;
}

.header-logo img {
  width: 140px;
}

.nav-lists {
  display: flex;
}

.nav-lists li {
  font-size: 18px;
  margin-right: 40px;
  padding-top: 20px;
}

.nav-lists a {
  color: #000000;
}

.top-wrapper p {
  width: 100%;
}

.top-title {
  padding-top: 170px;
  text-align: center;
  font-size: 48px;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light",
    YuMincho, "Yu Mincho", 游明朝体, sans-serif;
}

/*----------------------------レスポンシブ----------------------------*/
.menu-icon {
  display: none;
}

.menu-icon img {
  width: 18px;
  height: 15px;
}
/*-------------------------------------------------------------------*/

#news {
  padding-bottom: 50px;
}

.heading {
  font-size: 40px;
  font-weight: normal;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light",
    YuMincho, "Yu Mincho", 游明朝体, sans-serif;
  margin: 90px 0;
  text-align: center;
}

.news-list {
  margin-bottom: 50px;
}

.notice {
  font-size: 10px;
  border: 1px solid #000000;
  margin: 0 30px;
  padding: 7px;
  letter-spacing: 1px;
}

.news-list li {
  font-size: 18px;
  padding: 30px 0;
  border-bottom: 1px solid #000000;
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
}

.news-list a {
  display: block;
  text-decoration: none;
  color: #000000;
}

#performance {
  max-width: 1170px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}

.contents {
  max-width: 420px;
  margin: 0 auto;
}

.contents img {
  max-width: 420px;
  height: auto;
}

.performance-text {
  max-width: 420px;
  text-align: center;
}

.performance-text h3 {
  padding-top: 30px;
  font-size: 24px;
  font-weight: normal;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light",
    YuMincho, "Yu Mincho", 游明朝体, sans-serif;
}

.performance-text p {
  padding: 20px 0;
}

.performance-text img {
  width: 300px;
  height: auto;
}

.detail {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.detail a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 12px;
}

.performance-link {
  text-align: center;
  margin: 70px 0;
}

.performance-link p {
  display: inline-block;
  border: 1px solid #000000;
}

.performance-link a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 35px;
}

.links {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.links img {
  max-width: 100%;
  vertical-align: bottom;
}

footer {
  background-color: #000000;
  vertical-align: bottom;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.footer-container img {
  width: 95px;
  height: auto;
  padding-top: 5px;
}

.footer-lists {
  display: flex;
  padding-top: 16px;
}

.footer-lists a {
  display: block;
  color: White;
}

.footer-lists li {
  font-size: 18px;
  margin-left: 70px;
}

.copyright {
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 15px;
}
